<div class="contenedor">
  <div class="titulo">
    <h1><b>Tabla de Autos Registrados</b></h1>
  </div>
  <div class="tabla">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Marca</th>
          <th>SubMarca</th>
          <th>Descripcion Corta</th>
          <th>Descripcion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : page * pageSize ; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td> {{auto.marca}} </td>
          <td> {{auto.submarca}} </td>
          <td> {{auto.descripcioncorta}} </td>
          <td> {{auto.descripcion}} </td>
          <td>
            <img src="/assets/edit-regular.svg" alt="Edit" class="logo">
            <img src="/assets/trash-alt-regular.svg" alt="Delete" class="logo">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="autos.length" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>
  </div>
</div>
